@{
    ViewData["Title"] = "Cerca Libro";
}
<h1>@ViewData["Title"]</h1>

<form>
    <div class="mb-3">
		<label>Titolo</label>
		<input placeholder="Inserisci Titolo" />
    </div>

    <div class="mb-3">
        <label>Autore</label>
        <input placeholder="Inserisci Autore" />
    </div>
    <div class="mb-3">
        <label>Genere</label>
        <input placeholder="Inserisci Genere" />
    </div>
</form>